Pandas DataFrame

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame()

In [ ]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
df=pd.DataFrame([1,2,3,4,5,6])

In [ ]:
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [ ]:
df1=pd.DataFrame((1,2,3,4))
df1

   0
0  1
1  2
2  3
3  4

In [ ]:
df2=pd.DataFrame({1:[1,2,3,4,5],"two":(1,2,3,4,5)})

In [ ]:
df2

   1  two
0  1    1
1  2    2
2  3    3
3  4    4
4  5    5

In [ ]:
df=pd.DataFrame({'one':[1,2,3,4,5],'two':[1,2,3,4,5]})

In [ ]:
df

   one  two
0    1    1
1    2    2
2    3    3
3    4    4
4    5    5

In [ ]:
df=pd.DataFrame({'one':[1,2,3,4,5],'two':[1,2,3,4,5]},index=('a','b','c','d','e'))

In [ ]:
df

   one  two
a    1    1
b    2    2
c    3    3
d    4    4
e    5    5

In [ ]:
df=pd.DataFrame({'one':[1,2,3,4,5],'two':[1,2,3,4,5]},index=('a','b','c','d'))

ValueError: ignored

In [ ]:
df=pd.DataFrame({'one':[1,2,3,4,5],'two':[1,2,3,4,5]},index=('a','b','c','d','e'))
df

   one  two
a    1    1
b    2    2
c    3    3
d    4    4
e    5    5

In [ ]:
df[0]

KeyError: ignored

In [ ]:
df['one']#df[] doesnt return value with respect to index ,,it check column name and if column name match then it return whole column otherwise it only return key error

a    1
b    2
c    3
d    4
e    5
Name: one, dtype: int64

In [ ]:
df[:]

   one  two
a    1    1
b    2    2
c    3    3
d    4    4
e    5    5

In [ ]:
df[:200]

   one  two
a    1    1
b    2    2
c    3    3
d    4    4
e    5    5

In [ ]:
df[:'two']

   one  two
a    1    1
b    2    2
c    3    3
d    4    4
e    5    5

In [ ]:
df['one','two']

KeyError: ignored

In [ ]:
df['one':'two']

Empty DataFrame
Columns: [one, two]
Index: []

In [ ]:
df[:1]

   one  two
a    1    1

In [ ]:
df.loc[:'one']

   one  two
a    1    1
b    2    2
c    3    3
d    4    4
e    5    5

In [ ]:
df.iloc[:3]#excluding last all other above values are printed as it's..

   one  two
a    1    1
b    2    2
c    3    3

In [ ]:
df.iloc[1:4]

   one  two
b    2    2
c    3    3
d    4    4

In [ ]:
df.loc[1:4]

TypeError: ignored

In [ ]:
#1
df=pd.DataFrame([1,3,5,12,6,8],[10,11,12,20,50,8])

In [ ]:
df

     0
10   1
11   3
12   5
20  12
50   6
8    8

In [ ]:
#1-b
df=pd.DataFrame({'A':[1,3,5,12,6,8],'B':[10,11,12,20,50,8]},index=[0,1,2,3,4,5])

In [ ]:
df

    A   B
0   1  10
1   3  11
2   5  12
3  12  20
4   6  50
5   8   8

In [ ]:
#1-c
df=pd.DataFrame({'a':[1,2,8,4],'b':[5,6,9,8],'c':[11,12,30,14]})
df

   a  b   c
0  1  5  11
1  2  6  12
2  8  9  30
3  4  8  14

In [ ]:
#1-d
df=pd.DataFrame({'X':[78,85,96,80,86],'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]})
df

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [ ]:
from pandas.compat.numpy.function import PROD_DEFAULTS
#2
exam_data =pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 'pd.nan', 9, 20, 14.5, 'pd.nan', 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] )

In [ ]:
exam_data

        name   score  attempts qualify
a  Anastasia    12.5         1     yes
b       Dima       9         3      no
c  Katherine    16.5         2     yes
d      James  pd.nan         3      no
e      Emily       9         2      no
f    Michael      20         3     yes
g    Matthew    14.5         1     yes
h      Laura  pd.nan         1      no
i      Kevin       8         2      no
j      Jonas      19         1     yes

In [ ]:
#length of data frames is number of rows